{% extends '_base.htm' %}

{% block title %}Welcome{% endblock %}

{% block content %}
        <div class="row">
            <div class="col s6">
                <blockquote>
                    <h1>In The Mesh</h1>
                    <p>Discussions on advanced programming concepts, ranging from artificial intelligence to Z-buffering, and anything in between.</p>
                    <p>Recorded live in the Media Lab at Florida Polytechnic University.</p>
                </blockquote>
            </div>
            <div class="coll s6">
                <h4>Regular Cast:</h4>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="http://placekitten.com/g/200/300" alt="" class="circle">
                        <span class="title">Britt Mathis</span>
                        <p>Student by day. Programmer by night. Batman by even later at night.</p>
                    </li>
                    <li class="collection-item avatar">
                        <img src="http://placekitten.com/g/200/400" alt="" class="circle">
                        <span class="title">Cody Maden</span>
                        <p>That's not even his real name.</p>
                    </li>
                    <li class="collection-item avatar">
                        <img src="http://placekitten.com/g/300/400" alt="" class="circle">
                        <span class="title">Henry Chao</span>
                        <p>The old man of the young group.</p>
                    </li>
                </ul>
            </div>
        </div>
        {% for p in podcasts %}
          <div class="row">
            <div class="s12">
              <a href="/p/{{ p.pk }}/{{ p.slug }}"><h5>{{ p }}</h5></a>
            </div>
          </div>
          <div class="row">
            <div class="s12">{{ p.blurb }}</div>
          </div>
        {% endfor %}
{% endblock %}